{% extends "layout.html" %}

{% block main %}
   <!-- Display information on music descriptors to help users make more informed decisions about the songs they select-->
   <h2>Browse</h2>
   <h3>Check out the information below to help you choose the best song for you.</h3>
   <div>
      <h5 class="measure">Danceability</h5>
         <p>
            Danceability is a measure of how easily one can dance to a piece of music. Danceability is measured on a scale of 0-1,
            with a greater value indicating greater danceability. Databases like those created by Spotify calculate danceability
            by analyzing a song's volume, beat strength, tempo, and beat strength.
         </p>
      <h5 class="measure">Energy</h5>
         <p>
            A song's energy is also measured on a scale of 0-1 and is typically a function of a song's intensity and loudness.
            The louder and faster a song is, the more energy it is considered to have.
         </p>


      <h5 class="measure">Genre</h5>
      <p class="genre">ELECTRONIC AND DANCE</p>
         <p>
            Music that is typically for social dancing, particularly in clubs.
            This genre is characterized by repetitive beats and high energy.
         </p>
      <p class="genre">FOLK</p>
         <p>
            Music that was traditionally passed down orally though generations or small social
            groups.
         </p>
      <p class="genre">POP</p>
         <p>
            Popular mainstream music that can encompass a variety of music genres. Music of
            this genre is typically catchy and great for karaokes.
         </p>
      <p class="genre">R&B</p>
         <p>
            Rhythm and Blues music initially referred to a combination of jazz and blues that
            became popularized in the '40s and was developed by Black artists. Today, this genre
            describes music with strong gospel, rock, jazz, and folk influences.
         </p>
      <p class="genre">ROCK & ROLL</p>
         <p>
            Music that is typically characterized by strong vocals, beats, and rhythms.
            Rock songs are generally very danceable and have high energies.
         </p>
      <p class="genre">WORLD</p>
         <p>
            Music from around the world, or non-Western music.
         </p>
      <p class="genre">HIP HOP</p>
         <p>
            Hip Hop music is characterized by strong, rhythmic beats and rhyming
            lyrics. This genre of music originated in Black American communities in the 1970s
            and is now one of the most popular music genres in the United States and the world
            at large.
         </p>
      <p class="genre">COUNTRY</p>
         <p>
            Country music originated in the southern states of the United States
            and is characterized by the presence of stringed instruments and typically slower,
            narrative lyrics.
         </p>
      <p class="genre">LATIN</p>
         <p>
            Latin music encompasses a wide range of music from countries across Latin
            America, from Mexico and Peru to Cuba and Puerto Rico. Latin music is typically
            very high in danceability.
         </p>
      <p class="genre">METAL</p>
         <p>
            METAL: Music with strong beats and rhythms and a loud volume. This genre is often
            described as a powerful and aggressive style of music.
         </p>
   </div>
{% endblock %}
