{% extends "layout.html" %}

{% block main %}
    <!-- Display general information about the website -->
    <title> Home </title>

    <body>
        <h2 id="welcome">Welcome to Read the Room</h2>
        <div>
            <p>
            Have you ever been to a party where the music sucked and the DJ is completely oblivious to the crowd's music preferences?
            Read the Room is a project by Devin Guevara and Dariana Gonzalez that seeks to help DJs make more informed decisions about
            the music they play at any gathering. Guests at any event are able to vote on the next song in a DJ's queue from a list of 4
            randomly generated popular songs. DJs are then able to tailor their playlist to the crowd's preferences. If you are satisfied
            (or very much disappointed) with the DJs performance, be sure to leave a rating for them in the "Rate" tab! Then, you're all
            set! Now you can rest assured that your DJ will be able to Read the Room.
            </p>
        </div>
    </body>
{% endblock %}